body{
    font-family: "Montserrat", sans-serif; 
    /* fonte de todo o texto */
    margin: 0;
}

.navbar{ 
    /* CLASSES: ponto antes do nome*/
    display: flex;
    /* display flex para deixar em linhas / na horizontal*/
    padding: 0 50px;
    /* espaçamento pros cantos da tela / pras outras caixinhas */
    justify-content: space-between;
    /* sem espaço dos lados e espaços iguais entre si */
    background-color: aliceblue;
}

.links{
    display: flex;
    gap: 40px;
    /* espaço entre os elementos (links)*/
    font-size: 16px;
    align-items: center;
    /* espaço apenas do link em relação à div (vertical) */
}

a{
    text-decoration: none;
    /* tirar o sublinhado no link */
    color: #a22437;
}

#logo{
    /* # antes de IDs */
  width: 130px;  
}

.main{
    display: flex;
    justify-content: space-between;
    align-items:center;
    /* do texto em relação à foto (vertical) */
    padding: 50px;
    background-color:#c9eaef;
    height: 520px;
    gap: 40px;
}

#picture{
    width: 50%;
}

.text{
    max-width: 50%;
    color:aliceblue;
}

.text h1{
    font-size: 35px;
    color:#a22437;
}

.text p{
    font-size: 16px;
    margin-top: 15px;
    /* distância do texto pro título */
    color: #35122e;
    text-align: justify;
        
}


